/*  Color Palett  */

$forest-green: #014421;
$shadow-green:#586641;
$mountain-light-brown: #A28671;
$anthracite: #393d47;

/* Font family */

$font-title : Prosto One;
$font-text: Gabarito;


/* Variables Antony */
$text-color-white: #ffffff;
$border-radius: 5px;
$list-style: none;